html {
  box-sizing: border-box;
}
*,*::before,*::after {
  box-sizing: inherit;
}
body {
  margin: 0;

}


.wave-container {

  position: relative;
  background: #09F;
  color: #FFF;
  text-align: center;
  overflow: hidden;
}

.wave-container > svg {
  display: block;
}
